@media(max-width:1199){
    .desktop__photo{
        width: 100%;
    }
   
}
@media(max-width:991px){
    .desktop{
        display: flex;
        padding-bottom:0;
        border-radius:15px;
        
    }
    .desktop__photo{
        margin-bottom:0;
        
    }
    .desktop__info{
        padding:113px 0 113px 0;
        width: 100%;
    }
    .project{
        margin-bottom:32px;
    }
    .project__photo{
        height: 271px;
    }
}
@media(max-width:767px){
    .desktop{
        flex-direction: column;
    }
    .designs{
        margin:110px 0 110px 0;
    }
}
@media(max-width:565px){

}
@media(max-width:480px){
    .designo__title{
        font-size: 38px;
    }
    .designs{
        margin:33px 0 33px 0;
    }
    .projects{
        margin:0;

    }
    .project__info{
        top:34px;
    }
    .project__title{
        font-size: 25px;
        padding-bottom:10px;
    }
    .project__photo{
        height: 174px;
    }
}